* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #ffffff;

background-image:  radial-gradient(#FBEDE0 2px, transparent 2px), radial-gradient(#FBEDE0 2px, #ffffff 2px);
background-size: 80px 80px;
background-position: 0 0,40px 40px;
display: flex;
flex-direction: column;
align-items: center;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #D0AB99;
  text-align: center;
  margin: 45px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #BB616C;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    #BB616C 0%,
    #BB616C 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #E2808A;
}

.todo-button.edit {
  background: #E2808A;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: #B9B7BD;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: #E7D2CC;
}

.todo-row:nth-child(4n + 2) {
  background: #EAE6F0;
}

.todo-row:nth-child(4n + 3) {
  background: #868B8E;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
@media (max-width:560px){

  .todo-app {
    width: 450px;
    
  }
}
@media (max-width:485px){

  .todo-app {
    width: 400px;
    
  }
  .todo-input {
    padding: 14px 32px 14px 16px;
    width: 280px;
  }
}
